.DS_Store
**/.build
/Packages
/*.xcodeproj
Workspace.xcworkspace
**/xcuserdata/**/*
DerivedData/
.swiftpm/*
.netrc
*~.*
.scannerwork
tmpfile
**/.docc-build/*
build/**/*
node_modules/
.husky/*
output/
*.profraw
**/Generated/
.vscode/
dist/
